<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>new npc app testbed</h1><br>
    <table>
        <tr>
            <td><form action="/searchnpc" method="post"><button type="submit" value="searchnpc">search npc</button></form></td>
            <td><form action="/addnpc" method="post"><button type="submit" value="addnpc">add npc</button></form></td>
        </tr>
        <tr>
            <td><form action="/searchcity" method="post"><button type="submit" value="searchcity">search city</button></form></td>
            <td><form action="/addcity" method="post"><button type="submit" value="addcity">add city</button></form></td>
        </tr>
        <tr>
            <td><form action="/browsecities" method="post"><button type="submit" value="browsecities">browse cities</button></form></td>
            <td><form action="/browsenpcs" method="post"><button type="submit" value="browsenpcs">browse npcs</button></form></td>
        </tr>
    </table>
</body>
</html>